@import "tailwindcss";

/* ĐỊNH NGHĨA THEME TÙY CHỈNH CHO TAILWIND V4 TẠI ĐÂY */
@theme {
    --color-primary: #2563eb;
}

/* Các CSS tùy chỉnh cho WAF của bạn (nếu còn) để ở dưới đây */
body {
    background-color: #f8fafc;
    /* Ví dụ mình đổi nền thành xám sáng rất nhạt */
    color: #0f111a;
}